<%= bootstrap_form_for(injury) do |f| %>
  <div class="field">
    <%= f.number_field :user_id, :value => "#{current_user.id}", :readonly => true %>
  </div>

    <div class="field">
      <%= f.text_field :part %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
