<%= render '/partial/navlist' %>
<h1>管理者メニュー</h1>
<%= link_to "コンディショニングレポート", all_report_path, class: "btn btn-default" %>
<%= link_to "怪我記録", all_injury_path, class: "btn btn-default" %>
<%= link_to "筋トレMAX全記録", all_muscle_path, class: "btn btn-default" %>

